.impactText {
    font-family: "Anton", sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    max-width: 800px;
    display: inline-block;
    line-height: 1.1;
}

.bodyText {
    font-size: 1.25rem;
    line-height: 1.5;
}